<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class='<%= controller.controller_name %>'>
    <div id="banner">Book Store online</div>

    <div id="columns">
    
      <div id="side">

      <% if not session[:user_id] %>
        <%= link_to 'Login as administrator', login_path, type: "button", class: "btn btn-link" %>
        </br></br>
      <% end %>

      <div id="cart">
        <% if @cart %>
          <% hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
            <%= render @cart %>
          <% end %>
        <% end %>
      </div>      

      <% if session[:user_id] %>
        <ul>
          <li> <%= link_to 'HOME', admin_path, type: 'button',
            class: 'btn btn-link' %>
          </li>
          <li> <%= link_to 'ORDERS', orders_path, type: 'button', class: 'btn btn-link' %>
            <span class='badge'> <%= get_total_orders %> </span>
          </li>
          <li> <%= link_to 'PRODUCTS', products_path, type: 'button',
            class: 'btn btn-link' %>
          </li>
          <li> <%= link_to 'USERS', users_path, type: 'button', class: 'btn btn-link' %>
          </li>
          <li> <%= link_to 'Logout', logout_path, method: :delete,
            id: 'logout_button', type: 'button', class: 'btn btn-link' %>
          </li>
        </ul>
      <% end %>

      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>

</body>
</html>
